<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xinyu.com</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4FE6F619-4185-4195-9099-BFBFB9A3A220</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B88B158F-1398-4E59-847C-EA15ABF62153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B88B158F-1398-4E59-847C-EA15ABF62153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32A3AD1D-917A-496D-A05A-664E309A0FAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xinyu</string>
	<key>description</key>
	<string>alfred workflow to open folder in vscode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>xinyu-alfred-open-in-vscode</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

/usr/local/bin/code $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B88B158F-1398-4E59-847C-EA15ABF62153</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js  "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4FE6F619-4185-4195-9099-BFBFB9A3A220</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>32A3AD1D-917A-496D-A05A-664E309A0FAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>32A3AD1D-917A-496D-A05A-664E309A0FAB</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>4FE6F619-4185-4195-9099-BFBFB9A3A220</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>B88B158F-1398-4E59-847C-EA15ABF62153</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfred_vscode_wd</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>0.0.6</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
